@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
@import 'animations';

html, body {
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.footer-container {
  margin-top: 100px;
  padding: 0px;
}

.cr-notice {
  font-size: 0.8em;
}

footer {
  text-align: center;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}

@import 'profile/profile';
@import 'create/create';

/* Keep landing view on the bottom, it overrides some files. */
@import 'landing/landing';


@media screen and (min-width: 768px) {
  @import 'profile/profile-large';
  @import 'create/create-large';
  @import 'landing/landing-large';
}